<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basquiat.address.service.block.mapper.BlockHistoryMapper">
	
    <resultMap id="blockHistoryMap" type="com.basquiat.address.service.block.vo.BlockHistoryVO">
        <result property="coinType" 		column="coin_type" />
        <result property="lastBlockNumber"	column="last_block" />
    </resultMap>

	<select id="selectBlockHistory" parameterType="string" resultMap="blockHistoryMap">
		SELECT
			coin_type, 
			last_block
		FROM BLOCK_HISTORY
			WHERE coin_type = #{coinType}
	</select>
	
 	<update id="updateBlockHistory" parameterType="com.basquiat.address.service.block.vo.BlockHistoryVO">
 		UPDATE BLOCK_HISTORY
 			SET last_block = #{lastBlockNumber}
		WHERE coin_type = #{coinType}
	</update>
	
</mapper>
