<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basquiat.address.service.wallet.mapper.WalletMapper">
	
    <resultMap id="walletMap" type="com.basquiat.address.service.wallet.vo.WalletVO">
        <result property="userId" 			column="user_id" />
        <result property="coinType"			column="coin_type" />
        <result property="address" 			column="address" />
        <result property="balance" 			column="balance" />
        <result property="destinationTag"	column="destinationTag" />
        <result property="updateDttm" 		column="updatedttm" />
    </resultMap>

	<select id="selectWallet" parameterType="com.basquiat.address.service.wallet.vo.WalletVO" resultMap="walletMap">
		SELECT
			user_id
			, coin_type
			, address
			, balance
			, destinationTag
			, updatedttm
		FROM WALLET 
		WHERE
			user_id = #{userId} AND coin_type = #{coinType}
	</select>
	
	<select id="selectWalletByAddress" parameterType="string" resultMap="walletMap">
		SELECT
			user_id
			, coin_type
			, address
			, balance
			, destinationTag
			, updatedttm
		FROM WALLET 
		WHERE
			UPPER(address) = UPPER(#{address})
	</select>
	
	<select id="selectTagSequence" resultType="java.lang.Integer">
		SELECT tag_seq.nextval FROM DUAL
	</select>
	
 	<update id="initializeWallet" parameterType="com.basquiat.address.service.wallet.vo.WalletVO">
 	
 		INSERT INTO WALLET
			( 
	 		 user_id, 
	 		 coin_type, 
	 		 address, 
	 		 destinationTag, 
	 		 updatedttm 
	 		)
        VALUES 	
        	( 
        	 #{userId}, 
        	 #{coinType}, 
        	 #{address}, 
        	 #{destinationTag}, 
        	 now() 
        	)
        ON DUPLICATE KEY UPDATE
        	user_id = #{userId}, 
        	coin_type = #{coinType}
	</update>
	
 	<update id="updateWalletByAddress" parameterType="com.basquiat.address.service.wallet.vo.WalletVO">
 		UPDATE WALLET
 			SET balance = #{balance}
		WHERE address = #{address}
	</update>
	
</mapper>
